<p>6.先にタイムカードを押して定時退社したことにされて、残業時間を</p>
<p>　誤魔化したり、仕事を持ち帰らせて自宅で残業させられたことがありますか。</p>

<%= link_to 'はい', eighthpages_path, class: 'btn btn-danger' %>
<%= link_to 'いいえ', eighthpages_path, class: 'btn btn-primary' %>
