<p>10問中1問でも「はい」と答えた方は下のリンクをクリックしてください。</p>
<%= link_to 'ポチッと押す', 'https://www.mhlw.go.jp/stf/seisakunitsuite/bunya/koyou_roudou/roudoukijun/location.html', class: 'btn btn-danger' %>

<p>それから全問「いいえ」と答えた方も注意してください。なぜなら今回</p>
<p>出題された10問だけがブラック企業かどうかを判断する材料ではないからです。</p>
<%= link_to 'トップページに戻る', root_path, class: 'btn btn-primary' %>