<p>4.「できないんだったら残ってやれ」「売り上げが良くなかったらお前のせい</p>
<p>　だから給料カットする」などと言われたことがありますか?</p>

<%= link_to 'はい', sixthpages_path, class: 'btn btn-danger' %>
<%= link_to 'いいえ', sixthpages_path, class: 'btn btn-primary' %>