<p>8.お勤めの会社の就業規則は作成されていますか。またそれが従業員に公開されていますか？</p>
<p>※　就業規則は10人以上の従業員がいる場合です。</p>

<%= link_to 'はい', tenthpages_path, class: 'btn btn-danger' %>
<%= link_to 'いいえ', tenthpages_path, class: 'btn btn-primary' %>