<header>
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">ブラック企業</a>
      </div>
    </div>
  </nav>
</header>